@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaCyr.otf");
}




body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.top-block {
    position: relative;
    width: 100%;
    background-image: url("../img/Europe-Brandenburg-Gate-15-wallpapers-1080x1920.png");
    background-size: cover;

    height: 100%;
}

    .top-block__transparent-layer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2c4877;
        /*z-index: 1;*/
        opacity: 0.8;
    }

    .title-block-cont {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }

        .title-block {
            display: inline-block;
            width: 55%;
            padding-top: 5%;
        }

            .title-block__title_white-text {
                font-family: Roboto-Bold;
                font-size: 40px;
                color: white;
            }

            .title-block__title_gold-text {
                font-family: Roboto-Bold;
                font-size: 40px;
                color: #f0e353;
            }

            .title-block__title_small-text {
                font-family: Roboto-Light;
                font-size: 20px;
                color: white;
            }

        .title-block__date {
            border-left: 5px solid #f0e353;
            margin-top: 5%;
            white-space: nowrap;
        }

            .title-block__date span {
                padding-top: 5%;
                font-family: Roboto-Medium;
                font-size: 25px;
                color: white;
                padding-left: 1%;
            }

            .title-block__date span:nth-child(even) {
                font-family: Roboto-Light;
                font-size: 20px;
                color: white;
            }

            .title-block__date span:last-child {
                font-size: 15px;
            }

        .counter-block {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 15%;
            margin-top: 5%;
            outline: 1px solid white;
        }

            .counter-block__number {
                font-family: Roboto-Thin;
                font-size: 100px;
                color: white;
            }

                .counter-block__digit {
                    display: inline-block;
                    float: left; /* because of line break in my IDE cause whitespace*/
                }

            .counter-block__text {
                font-family: Roboto-Light;
                font-size: 25px;
                color: white;
                text-align: center;
            }

    .button-block {
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .button-block__registration {
            border: 1px solid #f0e353;
            border-radius: 5px;
            padding: 1%;
        }

        .button-block__registration:hover {
            border: 1px solid white;
            background: #f0e353;
        }

        .button-block__registration:hover .button-block__registration_text {
            color: white;
        }

            .button-block__registration_button {
                display: inline-block;
                width: 100%;

                text-decoration: none;
            }

                .button-block__registration_text {
                    font-family: Roboto-Medium;
                    font-size: 30px;
                    padding: 30px 80px;
                    color: #f0e353;
                    text-transform: uppercase;
                }

                .button-block__arrow-button {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    padding-bottom: 3%;
                }

                    .button-block__arrow-button a {
                        display: inline-block;
                        text-align: center;

                        text-decoration: none;
                    }

                        .button-block__arrow-button img {
                            width: 45%;
                            align-self: center;
                        }

                .button-block__text {
                    font-family: Roboto-Thin;
                    font-size: 15px;
                    color: white;
                    padding-top: 1%;
                    padding-bottom: 5%;
                }

.bottom-block {
    position: relative;
    background-color: #55719f;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .left-organizers-block {
        height: 100%;
        width: 37%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        .left-organizers-block__logo {
            width: 45%;
        }

            .left-organizers-block__logo img {
                width: 100%;
            }

        .left-organizers-block__text {
            padding-left: 3%;
        }

            .left-organizers-block__text span {
                font-family: Roboto-Regular;
                font-size: 25px;
                color: white;
                text-transform: uppercase;
            }

        .right-organizers-block {
            height: 100%;
            width: 35%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

            .right-organizers-block__logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80px;
                align-items: center;
                height: 80px;
                border: 2px solid white;
                border-radius: 50%;
            }

                .right-organizers-block__logo span {
                    display: inline-block;
                    font-family: HelveticaNeueCyr;
                    font-size: 100px;
                    color: white;
                    transform: rotate(-40deg) translateY(-8px);
                }

            .right-organizers-block__text {
                padding-left: 3%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                .right-organizers-block__text_big {
                    font-family: Roboto-Regular;
                    font-size: 25px;
                    color: white;
                    border-bottom: 2px solid white;
                }

                .right-organizers-block__text_small {
                    font-family: Roboto-Light;
                    font-size: 15px;
                    color: white;
                }

/*@media  screen and (min-width: 1920px) {*/
    /*.title-block__title_white-text {*/
        /*font-size: 60px;*/
    /*}*/

    /*.title-block__title_gold-text {*/
        /*font-size: 60px;*/
    /*}*/

    /*.title-block__title_small-text {*/
        /*font-size: 25px;*/
    /*}*/

    /*.title-block__date span {*/
        /*font-size: 35px;*/
    /*}*/

    /*.title-block__date span:nth-child(even) {*/
        /*font-size: 30px;*/
    /*}*/

    /*.counter-block__number {*/
        /*font-size: 150px;*/
    /*}*/

    /*.counter-block__text {*/
        /*font-size: 30px;*/
    /*}*/

    /*.button-block__arrow-button {*/
        /*padding-bottom: 8%;*/
    /*}*/
/*}*/

/*@media  screen and (min-width: 1366px) {*/
    /*.title-block__title_white-text {*/
        /*font-size: 35px;*/
    /*}*/

    /*.title-block__title_gold-text {*/
        /*font-size: 35px;*/
    /*}*/

    /*.title-block__title_small-text {*/
        /*font-size: 18px;*/
    /*}*/

    /*.title-block__date span {*/
        /*font-size: 25px;*/
    /*}*/

    /*.title-block__date span:nth-child(even) {*/
        /*font-size: 20px;*/
    /*}*/

    /*.counter-block__number {*/
        /*font-size: 100px;*/
    /*}*/

    /*.counter-block__text {*/
        /*font-size: 20px;*/
    /*}*/

    /*.button-block__arrow-button {*/
        /*padding-bottom: 6%;*/
    /*}*/
/*}*/

/*@media  screen and (min-width: 768px) {*/
    /*.title-block-cont {*/
        /*position: absolute;*/
        /*width: 100%;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    /*}*/

    /*.counter-block {*/
        /*width: 25%;*/
    /*}*/

    /*.title-block__title_white-text {*/
        /*font-size: 50px;*/
    /*}*/

    /*.title-block__title_gold-text {*/
        /*font-size: 50px;*/
    /*}*/

    /*.title-block__title_small-text {*/
        /*font-size: 25px;*/
    /*}*/

    /*.title-block__date span {*/
        /*font-size: 45px;*/
    /*}*/

    /*.title-block__date span:nth-child(even) {*/
        /*font-size: 40px;*/
    /*}*/

    /*.counter-block__number {*/
        /*font-size: 160px;*/
    /*}*/

    /*.counter-block__text {*/
        /*font-size: 45px;*/
    /*}*/

    /*.button-block__arrow-button {*/
        /*padding-bottom: 10%;*/
    /*}*/
/*}*/

/*@media  screen and (min-width: 768px) {*/
    /*.title-block-cont {*/
        /*position: absolute;*/
        /*width: 100%;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    /*}*/

    /*.title-block {*/
        /*width: 90%;*/
    /*}*/

    /*.counter-block {*/
        /*width: 30%;*/
    /*}*/

    /*.title-block__title_white-text {*/
        /*font-size: 65px;*/
    /*}*/

    /*.title-block__title_gold-text {*/
        /*font-size: 65px;*/
    /*}*/

    /*.title-block__title_small-text {*/
        /*font-size: 33px;*/
    /*}*/

    /*.title-block__date span {*/
        /*font-size: 55px;*/
    /*}*/

    /*.title-block__date span:nth-child(even) {*/
        /*font-size: 55px;*/
    /*}*/

    /*.title-block__date span:last-child {*/
        /*font-size: 27px;*/
    /*}*/

    /*.counter-block__number {*/
        /*font-size: 200px;*/
    /*}*/

    /*.counter-block__text {*/
        /*font-size: 45px;*/
    /*}*/

    /*.button-block__arrow-button {*/
        /*padding-bottom: 15%;*/
    /*}*/

    /*.button-block__registration {*/
        /*padding: 4%;*/
    /*}*/

    /*.button-block__registration_text {*/
        /*font-size: 45px;*/
        /*padding: 30px 100px;*/
    /*}*/

    /*.button-block__text {*/
        /*font-size: 28px;*/
    /*}*/

    /*.button-block__arrow-button img {*/
        /*width: 100%;*/
    /*}*/
/*}*/


.rotateToScreen {
    -webkit-animation:spin 0.5s ease-in-out;
    -moz-animation:spin 0.5s ease-in-out;
    animation:spin 0.5s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotateX(360deg); transform:rotateX(360deg); }
}
